
body{
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  margin: 50px auto 0 auto;
}

h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 15px;
  margin: 30px auto 20px auto;
}


hr {
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-color: dark-grey;
  border-width: 5px;
  margin:70px auto;
  width:5%;

}


/* Navbar */

.navbar-text:hover {
  color: #66BFBF;
  text-decoration: underline;
}


/* Main Page */

.top-cloud{
  position:absolute;
  right: 300px;
  top: 50px;
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.pro{
  text-decoration: underline;
}

.pro-h2{
  font-size: 1.5rem;
  margin:2%;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}


/* About Me Section */

.profile{
  width: 75%;
  margin: 50px auto 50px auto;
  line-height: 2;
}

.profile-pic {
  display: block;
  margin: auto;
  width:25%;
  padding-top: 20px;
  padding-bottom: 10px;
}


.heart{
  color:red;
}


/* My Hobbies Section */

.hobby-row {
  width: 75%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
  padding-bottom: 50px;
}

.coding-pic{
  width: 20%;
  float:left;
  margin-right: 30px;
}


.report-pic{
  width: 20%;
  float:right;
  margin-left: 30px;
}

.ice-hockey-pic{
  width: 20%;
  float:left;
  margin-right: 30px;
}


.hiking-pic{
  width: 20%;
  float:right;
  margin-left: 30px;

}


/* carousel */

.carousel-inner {
  width: 75%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
  padding-bottom: 50px;
}


/* Contact Me Section */

.contact-me{
  margin:auto;
  width:50%;
  padding-left: 10px;
}

.beer{
  font-size: 40px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 20px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}


/* Footer */

.bottom-container{
  background-color: #66BFBF;
}

.p-foot{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  padding:50px 0 20px;
  margin-bottom: 0;
  margin-top: 100px;
}
